
.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    padding: 2rem 6rem;
    z-index: 100;
    color: white;
}

.portfolio__navbar__links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30%;
}


.portfolio__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portfolio__navbar__links_container_1 p,
.portfolio__navbar__links_container_2 p,
.portfolio__navbar-sign p,
.portfolio__navbar-menu__container p {
    color: white;
    font-family: var(--font-navbarMenu);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 0.1em;
    text-transform: uppercase;
    margin: 0 1rem;
    cursor: pointer;
}
